:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
ul {
  list-style: none;
}

.bg_404 {
  background: url(../src/img/dribbble_1.gif);
  height:400px;
  background-position: center;
 
}
.logo {
  background-image: url(../src/img/LogoYoCampo.jpg);
  height: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

